@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100;
}

.grab-bing {
    cursor : -webkit-grab;
    cursor : -moz-grab;
    cursor : -o-grab;
    cursor : grab;
}


.grab-bing:active {
    cursor : -webkit-grabbing;
    cursor : -moz-grabbing;
    cursor : -o-grabbing;
    cursor : grabbing;
}
